# 2.Basic Data types in Python

In [8]:
#1. String      #2. Tuples   # 3. List   # 4. Dictionary   # 5. Set
print('Hello World')
print('123')

# Integer

print(123)
print(100)
print(123456)



# Float
print(123.56)
print(1456.23)


# Boolean
print(True)    # value 1
print(False)   # value 0

print(bool(1))
print(bool(0))

Hello World
123
123
100
123456
123.56
1456.23
True
False
True
False

# type() function

In [16]:
# 1. String

print('hello world')
print(type('hello world'))
print('123')
print(type('123'))


# 2. Integer

print(123)
print(type(123))
print(1000)
print(type(1000))


# 3. Float

print(123.20)
print(type(123.20))

# 4. Boolean
print(True)
print(type(True))
print(False)
print(type(False))

hello world
<class 'str'>
123
<class 'str'>
123
<class 'int'>
1000
<class 'int'>
123.2
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>

In [18]:
import sys

print(sys.int_info)

print(sys.float_info)

sys.int_info(bits_per_digit=30, sizeof_digit=4, default_max_str_digits=4300, str_digits_check_threshold=640)
sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

# Converting an object type to another object type

In [24]:
number=6
print(number)
print(type(number))

print(str(number))
print(type(str(number)))

print(float(number))
print(type(float(number)))

6
<class 'int'>
6
<class 'str'>
6.0
<class 'float'>

In [5]:
number1=3.14   # Str, #int
print(number1)
print(type(number1))

print(str(number1))
print(type(str(number1)))

3.14
<class 'float'>
3.14
<class 'str'>

In [11]:
bool_1=True  # str=True, float=1.0, # int=1
bool_2=False # str=False, float=0.0 # int=0

print('Original data:',bool_1)
print(type(bool_1))

print(str(bool_1))
print(type(str(bool_1)))

Original data: True
<class 'bool'>
True
<class 'str'>

# Expression and Variables

In [13]:
# Addition

x=56+89+45+63-75+100

print(x)

278

In [15]:
# Subtract

x = 85-52-21-8
print(x)

4

In [16]:
# Multiplication

x=8*74

print(x)

592

In [17]:
# Division

x = 125/24   # float
print(x)

5.208333333333333

In [18]:
# Division

x=125//24   # floor Divisio or integer divisio 
x

5

In [19]:
# Modulus

x=4%2  # it check the remainder value.
x

0

In [20]:
x=5%2
x

1

In [21]:
# Exponenet


x=2**4
x

16

In [22]:
x=2**3
x

8

In [24]:
x=16**4
x

65536

In [27]:
# An Example: Let's calculate how many minutes there are in 20 hrs?

one_hour=60   # min

hour=20   # hrs

minutes=one_hour*hour
print(minutes,'minutes')
print(type(minutes))

1200 minutes
<class 'int'>

In [29]:
# An Example: Let's calculate how many hours there are in 348 minutes?
minutes=348  # questions
one_hour=60  # minutes

hours=minutes/one_hour
print(hours,'Hours')

5.8 Hours

# Mathematical Expression

In [37]:
x = 45+3*89
y = (45+3)*89

print(x)
print(y)

print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(y**x)

312
4272
4584
-3960
1332864
0.07303370786516854
57141039192990974343004858967279456861888368892157822490773230176164840472031632096770508439186422454905993565467013184475643169168701166839884214162349462097646348481562423483838560899009964381306204497713075933398927162249445214977774905738499498138833004597610541425686076712639474542340566501979148756025330432501304377836650057224903144890932272418679985053700339732785583599208727178741668478704507214168227570908046155897600787973890451611396302346678308280658377747122491957742609432231172899966091216797634904376248116922733897391620896786459430656952849460065582037599056454845897397272283990060416695375548630709328546758931403266035152311253137705616066051705312104176960162541151138394042129433537332086238888803197367728864435929727625526931501520079746774357979768678661583206515770644429230055920325511410244718262566835618947741119862950459251523672660991025064748325816161618674907292973430549464741932121408624741334625316916303426450380042988710514423061654464099538913305027877075411871755991025687375410955302831325070950155731124532520936734337409914783987052730172406537794082463181797315368071365358797193216

# Variables

In [38]:
# Store the value 89 into the variable 'number'

number=89
print(number)

89

In [39]:
x=25
y=87
z=5*x-2*y
print(z)

-49

In [40]:
t=z/14
t

-3.5

In [41]:
z

-49

In [42]:
z=z/14
z

-3.5